<app-buttonsmenu [page]="page"></app-buttonsmenu>

<!-- MANCA LA PARTE IN ATTESA DEL CARICAMENTO -->
<br/>
<div class="row">
    <div class="col">
        <div class="row">
            <!-- lista chiamate-->
                <div class="col">

                    <!--- inizio modulo call -->
                    <div class="row ml-3" *ngFor="let call of lastCalls">
                        <div class="col">
                            <div class="row h-50">
                                <div class="col btn-link">
                                    <small>                              
                                        <div class="row" [(ngModel)]="call.phNumber" (click)="makeCall(call.phNumber)" data-bind="disable:$parent.inCall" ngDefaultControl>
                                            <div class="col font-weight-bold">
                                                <span *ngIf="call.name != ''">{{call.name}}</span>
                                                <span *ngIf="call.name == null">{{call.phNumber}}</span>
                                            </div>
                                            <div class="col">
                                                <span *ngIf="call.callType == 1">
                                                    <fa-icon [icon]="faAngleDoubleLeft" style="color: firebrick;"></fa-icon>
                                                </span>
                                                <span *ngIf="call.callType == 2">
                                                    <fa-icon [icon]="faAngleDoubleRight" style="color: green;"></fa-icon>
                                                </span>
                                                <span *ngIf="call.callType == 3">
                                                    <fa-icon [icon]="faPhoneSlash"></fa-icon>
                                                </span>
                                                <span *ngIf="call.callType == 5">
                                                    <fa-icon [icon]="faPhoneSlash"></fa-icon>
                                                </span>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col">{{call.callDayTime}}</div>
                                        </div>
                                </small>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">-----</div>
                            </div> <!-- row -->
                        </div> <!-- col -->             
                    </div> <!-- for -->
                    <!--- fine modulo call -->

                </div>
            <!-- lista chiamate-->
            <!-- chiamate rapide-->
                <div class="col">

                    <div class="row">
                        <div class="col-sm-6" *ngFor="let contact of starredcontacts" style="height: 74px">
                            <button class="btn btn-primary btn-block" [(ngModel)]="contact.number" (click)="makeCall(contact.number)" data-bind="disable:$parent.inCall" ngDefaultControl>
                               <div class="col">{{contact.name}}</div> 
                               <small><div class="col">{{contact.number}}</div></small>
                            </button>
                        </div>
                    </div>

                    <!-- DEBUG -->
                    <div class="row">
                        <div class="col">
                            <small>

                                <div class="row">
                                    <div class="col">DEBUG ------</div>
                                </div>
                                <table>
                                    <tr>
                                        <td>Latitude:</td>
                                        <td>{{lat}}</td>
                                    </tr>
                                    <tr>
                                        <td>Longitude:</td>
                                        <td>{{long}}</td>
                                    </tr>
                                    <tr>
                                        <td>Update:</td>
                                        <td>{{lastUpdate | date:'dd/MM/yyyy hh:mm:ss'}}</td>
                                    </tr>
                                </table>
            
                                
                                <div class="row">
                                    <div class="col">DEBUG ------</div>
                                </div>

                            </small>
                        </div>
                    </div>
                    <!-- DEBUG -->
                </div>
            <!-- chiamate rapide-->
        </div>
    </div>
</div>