<app-buttonsmenu [page]="page"></app-buttonsmenu>

<br />
<div id="ytpage" class="row">
  <div class="col">
        <div class="row">
            <div class="col"><h3>Youtube History</h3></div>
            <div class="col"><br /></div>
        </div>

        <div class="row" *ngIf="urls.length == 0">
            <div class="col coloffset-5" style="color: dodgerblue">
                <i class="fas fa-spinner fa-5x fa-pulse"></i>
            </div>
        </div>

        <div class="row" *ngIf="urls.length != 0">
            <div class="col">
                <table class="table table-striped table-responsive">
                    <tbody *ngFor="let url of urls">
                        <tr>
                            <td (click)="playYoutubeVideo(url)">{{url.description}}</td>
                            <td>{{url.url}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>  
    </div>
</div>