<app-buttonsmenu [page]="page"></app-buttonsmenu>

<br />
<div id="ytpage" class="row">
  <div class="col">
        <div class="row">
            <div class="col"><h3>Youtube History</h3></div>
            <div class="col"><br /></div>
        </div>

        <div class="row justify-content-center" *ngIf="urls.length == 0">
            <div class="col align-self-center" style="color: dodgerblue">
                <fa-icon class="ml-2" [icon]="faSpinner" [spin]='true' size="5x"></fa-icon>
                <!-- <i class="fas fa-spinner fa-5x fa-pulse"></i> -->
            </div>
        </div>        

        <div class="row">
            <div class="col">
                <table class="table table-light table-borderless">
                    <tbody>
                        <tr *ngFor="let video of urls">
                            <td (click)="playYoutubeVideo(video)">{{video.description}}</td>
                            <td>{{video.url}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>  
    </div>
</div>